
.panel {
  display: inline-block;
  height: 100vh;
  border: 1px solid black;
  position: relative;
}

.sidePanel { background-color: goldenrod; }


.sidePanelOpenned { width: 15%; }
.sidePanelClosed { width: 1%; }

.centralPanelShrinked { width: 70%; }
.centralPanelExpandedOneSide { width: 84%; }

@keyframes sidePanelClosing { from { width: 15%; } to { width: 1%; } }
@keyframes sidePanelOpenning { from { width: 1%; } to { width: 15%; } }
@keyframes centralPanelExpandingOneSide { from { width: 70%; } to { width: 84%; } }
@keyframes centralPanelShrinkingOneSide { from { width: 84%;} to { width: 70%; } }
@keyframes centralPanelExpandingTwoSides { from { width: 84%; } to { width: 98%; } }
@keyframes centralPanelShrinkingTwoSides { from { width: 98%; } to { width: 84%; } }

.sidePanelClosing {
  animation-name: sidePanelClosing;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.sidePanelOpenning {
  animation-name: sidePanelOpenning;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.centralPanelExpandingOneSide {
  animation-name: centralPanelExpandingOneSide;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.centralPanelShrinkingOneSide {
  animation-name: centralPanelShrinkingOneSide;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.centralPanelExpandingTwoSides {
  animation-name: centralPanelExpandingTwoSides;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.centralPanelShrinkingTwoSides {
  animation-name: centralPanelShrinkingTwoSides;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}


.buttonAbs {
  position: absolute;
  top: 40%;
  z-index: 2;
}

.buttonLeftPanelOpen { right: 0; }
.buttonRightPanelOpen { left: 0; }
.buttonLeftPanelClosed { right: -25px; transform: rotate(180deg);}
.buttonRightPanelClosed { left: -25px; transform: rotate(180deg);}

@keyframes buttonLeftMovingLeft { from { right: 0px; } to { right: -25px; } }
@keyframes buttonRightMovingRight { from { left: 0; } to { left: -25px; } }
@keyframes buttonLeftMovingRight { from { right: -25px; } to { right: 0px; } }
@keyframes buttonRightMovingLeft { from { left: -25px; } to { left: 0; } }

@keyframes buttonLeftRotatingLeft { 
  from { transform: rotate(0deg); }
  to { transform: rotate(180deg); }
}

@keyframes buttonLeftRotatingRight {
  from { transform: rotate(180deg); }
  to { transform: rotate(0deg); }
}

@keyframes buttonRightRotatingRight {
  from { transform: rotate(0deg); }
  to { transform: rotate(180deg); }
}

@keyframes buttonRightRotatingLeft {
  from { transform: rotate(180deg); }
  to { transform: rotate(0deg); }
}

.buttonLeftMovingLeft {
  animation-name: buttonLeftMovingLeft, buttonLeftRotatingLeft;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.buttonLeftMovingRight {
  animation-name: buttonLeftMovingRight, buttonLeftRotatingRight;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.buttonRightMovingRight {
  animation-name: buttonRightMovingRight, buttonRightRotatingRight;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.buttonRightMovingLeft {
  animation-name: buttonRightMovingLeft, buttonRightRotatingLeft;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}


.visual {
  position: relative;
  width: 100%;
  height: 100%;
}

.chart {
  display: inline-block;
  background-color: whitesmoke;
  width: 70%;
  height: 100%;
  overflow: hidden;
  border: 1px solid gray;
}

.points {
  display: inline-block;
  position: relative;
  background-color: whitesmoke;
  width: 30%;
  height: 100%;
  border: 1px solid gray;
}

.newPointForm {
  position: absolute;
  top: 0px;
  width: 100%;
  display: block;
  overflow: hidden;
}

.pointsList {
  position: absolute;
  display: block;
  top: 40px;
  width: 100%;
  overflow: hidden;
}

.line {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}

.axis path {
  stroke: black;
}

.circle .text {
  fill: red;
  font-size: 11px;
  font-family: Sans-Serif, Arial;
}
